<!-- all info will be mushed and gravitated to the center, separated only by empty space -->
<div id="info-root" *ngIf="this.chatContextService.storedOpenedChatId.value">
  <img src="{{(this.chatContextService.storedOpenChat | async)?.pfpSourceUrl}}" alt="This server's picture" id="server-pfp">
  <div id="info-action-buttons">
    <!-- These buttons will be dynamic tiles, they will have a fixed width background and unlimited heights to use -->
    <button mat-flat-button (click)="startVoiceCall()">Start Call</button>
    <button mat-flat-button (click)="inviteUserToServer()">Invite User</button>
    <button mat-flat-button (click)="createServerInvite()">Create new server invite</button>
    <button mat-stroked-button (click)="changeServerPfp()">Change server's picture</button>
    <button mat-stroked-button (click)="openServerSettings()">Server Settings</button>
  </div>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <h3 class="list-header">Invite links for this chat</h3>
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item *ngFor="let invite of inviteLinkList">
        <span class="invite-text">{{invite.shortId}}</span>
        <button mat-flat-button (click)="copyToClipboard(invite.id)">Copy</button>
        <button mat-flat-button (click)="displayInvitePopup(invite.id)">Details</button> <!-- displays the same popup that is displayed at creation -->
        <button mat-stroked-button class="revoke" color="warn" (click)="revokeInvite(invite.id)">Revoke</button>
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <h3 class="list-header">Chat Members</h3>
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item>
        <img src="" alt="">
        <span>Anon</span>
      </mat-list-item>
      <mat-list-item>
        <img src="" alt="">
        <span>Anon1</span>
      </mat-list-item>
      <mat-list-item>
        <img src="" alt="">
        <span>Anon2</span>
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>
</div>
