:host {
  display: grid;

  grid-template-areas:
    'left center center center right right';

  gap: 10px;
  padding: 10px;

  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
}

app-friends-list, app-info-tab, app-text-area {
  margin: 0;
  overflow: hidden;
  display: inline-block;

  position: relative; /* sets all of these as anchors for position: absolute */

  background-color: var(--basecolor-light);
}

app-friends-list {
  grid-area: left;
  column-width: 15vw; /* this is only an estimate value, these numbers don't need to add-up */
}

app-text-area {
  grid-area: center;
  column-width: 50vw;
}

app-info-tab {
  grid-area: right;
  column-width: 20vw;
}
