#chat-header-box {
  display: flex;
  flex-direction: row;
  background-color: var(--basecolor);
  padding: 0.5vh 0 0.5vh 0;
  vertical-align: middle;
  height: 4vh;
}

#chat-header-box * {
  background-color: var(--basecolor-dark);
  display: inline-block;
  height: 4vh;
  border-radius: 4px;

}

#chat-header-box img {
  aspect-ratio: 1/1;
}

#chat-header-box span {
  /*even with default css, this text is floating off it's parent area*/
  line-height: 4vh;

  width: fit-content;
  font-size: large;
  color: white;

  margin-left: 4px;
  padding: 0 4px 0 4px;
}

#conversation-box {
  list-style: none;
  color: white;

  display: flex;
  flex-direction: column;
  padding: 0 30px 0 30px;

  overflow-x: hidden;
  overflow-y: scroll;
  height: 81vh;
}

.chat-box-filler {
  margin: auto;
  font-size: x-large;
}

#message-list {
  list-style: none;
}

.message-pack {
  min-height: 36px;
  width: fit-content;
  display: flex;
  margin: 2px;
}

.message-quick-info {
  display: flex;
  align-items: center;
}

.sender-pfp {
  height: 36px;
  aspect-ratio: 1/1;
  border-radius: 4px;
}

.sender-name {
  font-size: smaller;
  background-color: white;
  color: black;
  border-radius: 4px;
  margin: 4px;
  padding: 2px;
}

.sender-content {
  width: fit-content;
  padding: 10px;
  word-break: break-word;
  background-color: var(--basecolor-dark);
  border-radius: 4px;
}

.own-message > .sender-content {
  background-color: var(--basecolor-accent);
  color: black;
}

img.sender-content {
  /* just to make sure users don't flood the chat with oversize images */
  max-width: 50%;
  max-height: 80vh;
  overflow: hidden;
}

#input-box {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  height: 6vh;
  padding: 10px;

  display: flex;
  align-items: center;


  background-color: var(--basecolor);
}

#message-input {
  display: inline-block;
  height: 95%;
  flex: 1; /* fill remaining width */
  margin: 0 8px;
}

.input-box-button {
  position: relative;
  display: inline-block;
  height: 95%;
  aspect-ratio: 1/1;
  background-color: var(--basecolor-accent);
  border: none;
  transition: background-color 150ms;
}

.input-box-button:nth-of-type(2) {
  left: 0;
}

.input-box-button:nth-of-type(2) {
  right: 0;
}

.input-box-button:hover {
  background-color: #de9f49;
  cursor: pointer;
  transition: background-color 50ms;
}

.input-box-button:active {
  background-color: #d08f39;
}
