<div id="chat-header-box" *ngIf="this.chatContextService.storedOpenedChatId.value">
  <img src="{{(this.chatContextService.storedOpenChat | async)?.pfpSourceUrl}}" alt="">
  <!-- .value cannot be used, as it would be a static reference to a past openChat, the first one that gets open -->
  <span>{{(this.chatContextService.storedOpenChat | async)?.chatName}}</span>
</div>

<div id="conversation-box">
  <p class="chat-box-filler" *ngIf="!this.chatContextService.storedOpenedChatId.value">
    Open a chat to start talking.
  </p>
  <p class="chat-box-filler" *ngIf="this.chatContextService.storedOpenedChatId.value && this.chatContextService.storedMessageList.value.length == 0">
    Send the very first message of {{this.chatContextService.storedOpenChat.value.chatName}}!
  </p>
  <ul *ngIf="this.chatContextService.storedMessageList.value.length > 0" id="message-list">
    <li *ngFor="let message of this.chatContextService.storedMessageList.value" [ngClass]="{'own-message': message.writtenByMe, 'message-pack': true}">
      <!-- todo to enable image sending, either convert all links to embeds, or add some optional img tag -->
      <div class="message-quick-info">
        <img class="sender-pfp" src="{{message.senderId}}.png" alt="">
        <span class="sender-name">{{message.senderName?.value}}:</span>
      </div>
      <!-- i am aware this is not the right place to write blogs about my emotions,
           but i am extremely happy with how simple and elegant this solution works
           regex is hard to write but so rewarding to see working!!!
           -->
      <div class="sender-content" *ngIf="!checkIsImage(message.content)">{{message.content}}</div>
      <img class="sender-content" *ngIf="checkIsImage(message.content)" src="{{getImageUrl(message.content)}}">
    </li>
  </ul>
</div>

<div id="input-box" *ngIf="this.chatContextService.storedOpenedChatId.value">
  <!-- https://blog.angular-university.io/angular-file-upload/ the button below is non-clickable, then a click is simulated when user clicks on our stylised button -->
  <input type="file" class="file-input" style="display: none;" (change)="this.sendImage($event)" #fileUpload>
  <button class="input-box-button" (click)="fileUpload.click()">
    <mat-icon>attach_file</mat-icon>
  </button>
  <input id="message-input" [(ngModel)]="messageInput" (keyup.enter)="sendMessage()">
  <button class="input-box-button" (click)="sendMessage()" [disabled]="!messageInput">
    <mat-icon>send</mat-icon>
  </button>
</div>
