<div>
  <mat-list>
    <mat-list-item>
      Chat Name: <span>{{this.inviteChatName}}</span>
    </mat-list-item>
    <mat-list-item>
      Invite Link: <span>{{this.inviteDetails.shortId}}</span>
    </mat-list-item>
    <mat-list-item>
      Issuer's name: <span>{{this.inviteIssuerName}}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      Chat ID: <span>{{this.inviteDetails.chatId}}</span>
    </mat-list-item>
    <mat-list-item>
      Invite ID: <span>{{this.inviteDetails.id}}</span>
    </mat-list-item>
    <mat-list-item>
      Issuer's ID: <span>{{this.inviteDetails.authorId}}</span>
    </mat-list-item>
  </mat-list>
</div>

