:host {
  padding: 0;
}

#social-selector {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
}

#social-selector > span {
  padding: 5px;
  font-size: larger;
  width: 50%;
  text-align: center;

  border: 3px solid var(--basecolor);

  background-color: var(--basecolor-dark);

  transition: all 200ms;
}

#social-selector > span.selected {
  font-weight: bold;
  background-color: var(--basecolor-light);
  border: none;
}

#social-selector > span:not(.selected):hover {
  background-color: var(--basecolor-accent);
}

#friend-search {

  width: 85%;
  height: 3vh;

  margin-top: 10px;

  position: relative;
  left: 50%;
  transform: translateX(-50%);

  text-align: center;
}

#friend-list {
  list-style: none;
  width: 90%;
  padding: 20px;

  position: relative;
  left: 50%;
  transform: translateX(-50%);

  overflow: scroll;
}

.friend-panel {
  display: flex;
  height: 8vh;

  cursor: pointer;

  margin-bottom: 10px;

  background-color: var(--basecolor-dark);
  color: white;
  border-radius: 6px;

  overflow: hidden;
  position: relative; /* create element anchor */
}

.friend-panel > img {
  aspect-ratio: 1/1;
  display: flex;
  border-radius: 6px;
  margin: 6px;
  height: auto;
  background-color: white;
}

.friend-panel > span {
  height: 100%;

  padding-left: 10px;
  display: flex;
  align-items: center;
  padding-right: 6px;

  font-size: 1vw;
  font-family: monospace;

  overflow: hidden;
}

.join-chat-text-box, .join-chat-input-box {
  display: inline-block;
  position: absolute;

  width: 100%;
  height: 100%;
  transition: left 0.3s ease-in-out;

  font-size: 1vw;
  text-align: center;
  font-family: monospace;
}

.join-chat-text-box > span, .join-chat-input-box > span {
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.join-chat-text-box {
  left: 0;
  top: 0;
}

.join-chat-input-box {
  left: 100%;
  top: 0;
  background-color: var(--basecolor-accent);
}

.friend-panel:hover .join-chat-text-box {
  left: -100%;
}

.friend-panel:hover .join-chat-input-box {
  left: 0;
}
