/*
 Material API used: https://material.angular.io/
*/

/* basic material classes */
:root {
  --basecolor-light: #787878;
  --basecolor: #646464;
  --basecolor-dark: #5e5e5e;
  --basecolor-accent: #FFBD5E;
}

body {
  margin: 0;
  padding: 0;

  overflow: hidden;

  background-color: var(--basecolor);
}
