/*
 Material API used: https://material.angular.io/
*/

/* basic material classes */
:root {
  --basecolor-light: #787878;
  --basecolor: #646464;
  --basecolor-dark: #5e5e5e;
  --basecolor-accent: #ffb45d;
  --basecolor-accent-shadow: #d08f39;
  --infobox-ok: #6fdc60;
  --infobox-ok-accent: #3f8138;
  --infobox-info: #60b1dc;
  --infobox-info-accent: #35637c;
  --infobox-error: #dc7d60;
  --infobox-error-accent: #854b39;
}

body {
  margin: 0;
  padding: 0;

  overflow: hidden;

  background-color: var(--basecolor);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
